body {
  background-color: #dfd6bd;
}
.global-header {
  display: flex;
}

.logo-image-top {
  width: 50px;
  margin-right: 1em;
}

.generic-page-content {
  padding-top: 8rem;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-link {
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}
.nav-link:hover, .nav-link:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(102, 85, 68, .75);
}

#mainNav.bg-dark {
  background-color: #161111 !important;
  filter: drop-shadow(0 0 5x #000);
}

section#contact {
  background-color: #161111;
}